# common ignores
__pycache__
.ipynb_checkpoints
.vscode
.idea

# ghq ignores
dependency.log
nohup.out
repo.log
playground.mongodb
test.py

# repos (too large for github
repos_requirements_minimal/
repos_requirements/
repos_50/
tests/

# config
config.ini