# common ignores
__pycache__
.ipynb_checkpoints
.vscode
.idea

dependency.log
nohup.out
repo.log

test.py

# /data
repos/
playground.mongodb
问题.ipynb
.eggs
setup.csv
cache/
possible_rules/
possible_rules_MC/
related_commit
pygit.py
